@model Turnament.Models.Tournament

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportId" class="control-label"></label>
                <select asp-for="SportId" class="form-control" asp-items="ViewBag.SportId"></select>
                <span asp-validation-for="SportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BracketTypeId" class="control-label"></label>
                <select asp-for="BracketTypeId" class="form-control" asp-items="ViewBag.BracketTypeId"></select>
                <span asp-validation-for="BracketTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <select asp-for="CreatorId" class="form-control" asp-items="ViewBag.CreatorId"></select>
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WinnerTeamId" class="control-label"></label>
                <select asp-for="WinnerTeamId" class="form-control" asp-items="ViewBag.WinnerTeamId"></select>
                <span asp-validation-for="WinnerTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
