@model Turnament.Models.Team

@{
    ViewData["Title"] = "Delete";
}
<div class="container mt-5" style="max-width: 600px">

    <h1>Usuń</h1>

    <h3>Czy napewno chcesz usuńąć tą drużynę?</h3>
    <div style="display: flex; flex-direction: column">
        <hr/>
        <dl class="row">
            <dt class="col-sm-4">
                Nazwa
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            
            <dt class="col-sm-4 mt-2">
                Data założenia
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
        </dl>

        <form asp-action="Delete" class="mt-2" style="display: flex; align-items: center; justify-content: center">
            <input type="hidden" asp-for="Id"/>
            <button asp-action="Index" class="btn btn-primary me-2">Anuluj</button>
            <button asp-action="Delete" class="btn btn-danger">Usuń</button>
        </form>
    </div>
</div>