@using System.Security.Claims
@model Turnament.Models.User

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="max-width: 600px">
    <h1>@Model.Username</h1>

    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-4">
                Nazwa użytkownika
            </dt>
            <dd class="col-sm-8">
                @Model.Username
            </dd>
            <dt class="col-sm-4">
                Email
            </dt>
            <dd class="col-sm-8">
                @Model.Email
            </dd>
            <dt class="col-sm-4">
                Dołączył
            </dt>
            <dd class="col-sm-8">
                @Model.CreatedAt
            </dd>
        </dl>
    </div>
    <div>
        @if (User.Identity is { IsAuthenticated: true } && User.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.Id.ToString())
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a>
        }
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
