@model Turnament.ViewModel.User.EditViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5" style="max-width: 400px">
    <h1>Edytuj dane konta</h1>

    <hr/>
    <form asp-action="Edit" style="display: flex; flex-direction: column">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>

        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control"/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="Pass" class="control-label"></label>
            <input asp-for="Pass" class="form-control"/>
            <span asp-validation-for="Pass" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="PassConfirm" class="control-label"></label>
            <input asp-for="PassConfirm" class="form-control"/>
            <span asp-validation-for="PassConfirm" class="text-danger"></span>
        </div>
        <div class="form-group mt-2" style="align-self: center">
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-danger">Anuluj</a>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </form>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
