@model IEnumerable<Turnament.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5" style="max-width: 400px">
<h1>Gracze</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa użytkownika
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="">
                <a>@item.Username</a>
            </td>
            <td style="text-align: right">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success flex-shrink-2">Zobacz profil</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>